@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Oswald:wght@200..700&display=swap');
@import "tailwindcss";

/* this is the hr underline to make on the active component underline */
a.active hr{
    display: block;
}

*{
    font-family:oswald-uniquifier ;
}

.oswald-uniquifier {
    font-family: "Oswald", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .custom-icon {
    width: 50px;
    height: 50px;
    /* color: red; */
  }
  
  
  ::-webkit-scrollbar{
    display: none;
  }

  @media (max-width:640px) {
    a.active{
        background-color: black;
        color: white;
    }
    
  }